<div id="wireless-carriers-table-wrapper" style="visibility: hidden">
    <table id="wireless-carriers-table" class="wp-list-table widefat fixed striped tags" style="width:100%;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
    </table>
</div>