language: php

matrix:
    fast_finish: true
    include:
        - php: 7.0

script:
    - ls -la
    - mkdir woorefill-extension; mv !(woorefill-extension) woorefill-extension
    - zip -9 woorefill-extension.zip *

deploy:
    provider: releases
    api_key:
      secure: EJyBd15ue7wpISZHvCDXQloXMJmCSKZWyPQ/Y2eyhRC/88WMYGbIBkfOAWg5HSit32PkNMNzUEjvHlW4TAUPArbUtk+s5zCZb/CDHQt4mEF1+GP7jd5B5FTHdYiDeCmAczux8Q6ub+SA9dCGPGZ86nZMsTC0d1CWuFV+eUH4LtGU34FEHhYVwpEZogaPXjf55z+mTwGS5wnNv5E5ee1tfdCE8DmvhDxT9h5VWZaFp0HwmjpdCBwVi5P6C6GU7lgZWkUo4BU7kmO/bQfd20WoaVR5WSkkAf20F2WFCqWGwp7XmEB2VTDNP7S4B62FGLZPw6oACWO9TUTrZPSoREA96KSdw74E1D+0bNT39AYsLZOL5Nbuwe+LvGn6Ej8R0l/G0pMLsu89tg1fJflmSpWk1q4VH0CzvXQ2RsbS06vOZNi8//6fJbLOFB8ZunLS6ApK/XEI3e5U+oWW5QFWr06Xhu8tm36VZ00PeZRgTQXXfRY6cQ9SL9s3MXvLNVWKKAOVWvprAIgsvQKUeY0AcXm4hGqZTB4sd/4nuDv/c9G+z9S+yOMfaxuKLyfegY22jo/IUmWoEuKUySLJdcIsHZdCbKV42fWwuBIgv1hJhbxQozHAvGH7oMD39AHk6+LzLViGGe4vwDWqZb4OdYISqJkKL5s4fZIOXqa6XvvX5dlX7fs=
    file: 'woorefill-extension.zip'
    skip_cleanup: true
    on:
      repo: ynloultratech/woorefill-extension
      tags: true
