language: php

matrix:
    fast_finish: true
    include:
        - php: 5.4
          env: DEPLOY=yes
        - php: 5.6
        - php: 7.0
        - php: hhvm
    allow_failures:
        - php: hhvm

install:
    - travis_retry composer global require hirak/prestissimo
    - travis_retry composer install --prefer-dist --no-interaction
    - composer dumpautoload

script:
    - php vendor/bin/phpunit -c phpunit.xml.dist

before_deploy:
    - rm -rf vendor
    - rm -rf tests
    - rm -rf .git
    - rm .licenser.yml
    - rm .travis.yml
    - rm .gitignore
    - travis_retry composer install --no-dev --prefer-dist --no-interaction
    - composer dumpautoload
    - rm composer.lock
    - ls -la
    - mkdir woorefill-extension; mv !(woorefill-extension) woorefill-extension
    - zip -r -9 -q woorefill-extension.zip *
    - ls -la -h

deploy:
    provider: releases
    api_key: $DEPLOY_API_KEY
    file: 'woorefill-extension.zip'
    skip_cleanup: true
    on:
      repo: ynloultratech/woorefill-extension
      tags: true
      condition: $DEPLOY = yes
