language: php

matrix:
    fast_finish: true
    include:
        - php: 5.6

install:
  - travis_retry composer global require hirak/prestissimo
  - travis_retry composer install --no-dev --prefer-dist --no-interaction
  - composer run-script post-install-cmd
  - composer dumpautoload

script:
    - rm -rf .git
    - rm .licenser.yml
    - rm .travis.yml
    - rm .gitignore
    - rm composer.json
    - rm composer.lock
    - ls -la
    - mkdir woorefill-extension; mv !(woorefill-extension) woorefill-extension
    - zip -r -9 woorefill-extension.zip * > log
    - ls -la -h

deploy:
    provider: releases
    api_key:
      secure: I7IGt0MkLjYc7ba844714TiB6kCi/dERSptMiv5sfWXqK7UgwD3eB/95IGt9uQqpqBPii3rTCTgunQV7QKOj06DVdi4y71J9cNpwCOpDsH56ca5SW8TI6Ee/vvbfamJ+79aSl24O8fgBqDuFVt7O2P36Sw/jhkYNgT8ujmD1l1DAWJQKW6e89KuYwJTV39Zl9I204VZu8tmHkQmyCdVVgS4cnEMOUhXkmirbc7Mp/jrwmlYaPcivL/wXaAn4V8BGlwMfCXwpJB0sf3WdUaJjGPC7f9rx6cH12wKWpsK+h9btk4GvdBXdLBy0SGu9MipmkSj66p9OqGXiNs98+gwfLaC08Do1zsJJ6GC4FJEN4PrHePVWNcK4vd1+cAG8SySWptnHL4LmKyiBH2z3mUZMRVDorLuOhxn1dhx8xK/ghxdcMF1wYl3GBxrMxgL36KDHkWh3AsANCCG6+zX9x+x+EFwOzg4fbRl9cn+33Fdmr69HVqz9pz8RyRBNgKzDmxuAoGH+acnWKilVTEpHDs1qa0gHNCOyuPv2Lv1iYh//F2Cc0uIsbY+ZqPMU91Y0xal0phUUQ2EJS8QUq15xIedqhmhT7VuErsdY6Y6AEc+ydcwHTLJqcg3mB8XHJ1XRaExk6S/I/RB8m9UsQPp+yFLS2E4HSoGK5EP5OBFdyvr26dw=
    file: 'woorefill-extension.zip'
    skip_cleanup: true
    on:
      repo: ynloultratech/woorefill-extension
      tags: true
