label.form-invalid {
    background: red;
    color: #fff;
    padding: 1px 8px;
    border-radius: 3px;
    display: table-cell;
}

.horizontal input[type="radio"]+label{
    margin-right: 10px;
    display: inline-block;
}