<div class="form-field">
    <label style="display: inline-block">
        <input name="wireless_carrier" type="checkbox" value="1">
        Wireless Carrier
    </label>
    <p>Check if this category represents a wireless carrier. e.g. "Simple Mobile", "AT&T"</p>
</div>