<tr class="form-field">
    <th scope="row" valign="top"><label>Wireless Carrier</label></th>
    <td>
        <input name="wireless_carrier" type="hidden" value="0">
        <input name="wireless_carrier" type="checkbox" {% if checked %}checked{% endif %}>
        Wireless Carrier
        <p>Check if this category represents a wireless carrier. e.g. "Simple Mobile", "AT&T"</p>
    </td>
</tr>