{% for field, args in fields %}
    {% set value = args.value|default('') %}

    {% if field matches "/_amount$/" %}
        {% set value = product.price %}
        <input type="hidden" name="{{ field }}" value="{{ value }}">
    {% elseif(field matches "/_phone$/") %}
        {{ call('woocommerce_form_field', field, args, value) }}
        <input id="_woo_refill_meta_phone_field_international" type="hidden" name="_woo_refill_meta_phone">

    {% else %}
        {{ call('woocommerce_form_field', field, args, value) }}
    {% endif %}
{% endfor %}
<script>
    jQuery(document).ready(function () {
        var label = jQuery('#_woo_refill_meta_phone_field label');
        var content = '<h3>' + label.html() + '</h3>';
        label.replaceWith(content);
        // jQuery('#_woo_refill_meta_phone').inputmask();

        jQuery(document).ready(function ($) {
            var telInput = $("#_woo_refill_meta_phone");

            telInput.attr('class', ''); //remove any theme class to avoid conflicts
            telInput.css('width', '100% !important');

            telInput.intlTelInput({
                dropdownContainer: "body",
                onlyCountries: [telInput.data('country')],
                nationalMode: false,
                separateDialCode: true,
                allowDropdown: false
            });

            telInput.on('change', function () {
                var intPhone = telInput.intlTelInput("getNumber", intlTelInputUtils.numberFormat.E164);
                $('#_woo_refill_meta_phone_field_international').val(intPhone)
            }).trigger('change');


            //block input with 100% width
            telInput.closest('.intl-tel-input').css('display', 'block');
        });
    });
</script>