{% for field, args in fields %}
    {% set value = args.value|default('') %}

    {% if field matches "/_amount$/" %}
        {% set value = product.price %}
        <input type="hidden" name="{{ field }}" value="{{ value }}">
    {% elseif(field matches "/_phone$/") %}
        {{ call('woocommerce_form_field', 'woorefill_phone', args, value) }}
        <input id="_woo_refill_meta_phone" type="hidden" name="_woo_refill_meta_phone">
    {% else %}
        {{ call('woocommerce_form_field', field, args, value) }}
    {% endif %}
{% endfor %}
<script>
    jQuery(document).ready(function () {
        var label = jQuery('#woorefill_phone_field label');
        var content = '<h3>' + label.html() + '</h3>';
        label.replaceWith(content);

        jQuery(document).ready(function ($) {
            var telInput = $("#woorefill_phone");

            telInput.attr('class', ''); //remove any theme class to avoid conflicts

            telInput.intlTelInput({
                dropdownContainer: "body",
                onlyCountries: [telInput.data('country')],
                nationalMode: true,
                separateDialCode: true,
                allowDropdown: false
            });

            telInput.on('change', function () {
                var intPhone = telInput.intlTelInput("getNumber", intlTelInputUtils.numberFormat.E164);
                $('#_woo_refill_meta_phone').val(intPhone)
            }).trigger('change');


            //block input with 100% width
            telInput.closest('.intl-tel-input').css('display', 'block');
            telInput.attr('style', function (i, s) {
                return (s !== undefined ? s : '') + 'width: 100% !important;'
            });
        });
    });
</script>