<div class="wrap woocommerce">
    <div class="icon32 icon32-attributes" id="icon-woocommerce"><br/></div>
    <h1>{{ 'Import Wireless Products'|trans }}</h1>

    {% if success %}
        <div class="notice notice-success"><p>{{ success }}</p></div>
    {% endif %}

    <br class="clear"/>
    <div id="col-container">
        <div id="col-left">
            <div class="col-wrap">
                <div id="wireless-carriers-wrapper">
                    {% if submitted %}
                        {% include '@Admin/import/carriers.html.twig' %}
                    {% else %}
                        <div style="text-align: center; padding: 50px">
                            <img src="/wp-admin/images/spinner-2x.gif">
                        </div>
                    {% endif %}
                </div>
                {% if not submitted %}
                    <script>
                        jQuery('#wireless-carriers-wrapper').load('/wp-admin/admin-ajax.php?action=get_wireless_carriers')
                    </script>
                {% endif %}
            </div>
        </div>
        <div id="col-right" style="{% if not submitted %}display: none;{% endif %}">
            <div class="col-wrap">
                <div id="wireless-products-wrapper" style="{% if not submitted %}display: none{% endif %}">
                    {% if submitted %}
                        {% include '@Admin/import/products.html.twig' %}
                    {% endif %}
                </div>
            </div>
            <div id="wireless-products-loader" style="text-align: center; padding: 50px; {% if submitted %}display: none{% endif %}">
                <img src="/wp-admin/images/spinner-2x.gif">
            </div>
        </div>
    </div>
</div>


