<div style="display: none">
    <li id="wr-response-pin" class="pin">
        Pin:
        <h3><strong>{{ pin }}</strong></h3>
    </li>
</div>
<script>
    jQuery('.woocommerce-thankyou-order-details').prepend(jQuery('#wr-response-pin'));
</script>